services:
  mlflow:
    build: 
      context: .
    container_name: mlflow
    ports:
      - "5000:5000"
    volumes:
      - ./mlartifacts:/mlartifacts
    networks:
      - mlops-network

networks:
  mlops-network:
    external: true